{% extends "base.html" %}
{% block title %}Registrar{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" id="upload-form" onsubmit="submitForm()">
    <div class="input-group">
        <label for="name">Nombre Completo</label>
        <input type="text" name="name" id="name" placeholder="Nombre y apellido">
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="nombre@maipu.cl">
    </div>
    <div class="input-group">
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass" minlength="6" placeholder="*********">
    </div>
    <div class="input-group">
        <label for="repass">Repita su contraseña</label>
        <input type="password" name="repass" id="repass" minlength="6" placeholder="*********">
    </div>
    <button type="submit">Registrar</button>
</form>
{% endblock content %}
{% block js %}
<script>
    const loader = document.querySelector('.loader-wrapper');
    const submitButton = document.querySelector('button[type="submit"]');

    const submitForm = () => {
        submitButton.disabled = true;
        loader.style.display = 'flex';
        const form = document.querySelector('#upload-form');
        if (form) {
            form.submit();
        }
    }
</script>
{% endblock %}
