html,
body,
section {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  background-color: #eeeeee;
}

nav {
  background-color: #10174a;
  color: white;
  display: flex;
  height: 140px;
  justify-content: space-between;
}

nav #logo {
  padding: 20px;
  margin-left: 20px;
  transition: filter 1s ease;
}

nav #logo:hover {
  filter: drop-shadow(0 0 3em #646cffaa);
}

nav h2 {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 30px 10px;
  padding: 0;
}

nav ul li a {
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}



.error {
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #ff200c;
}

.info {
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #1ecfcb;
}



@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}

@media (max-width:963px) {
  nav h2 {
    font-size: 20px;
  }
}

@media (max-width: 866px) {
  nav {
    width: 110vw;
  }
}


@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav ul {
    margin-top: 20px;
  }

  nav h2 {
    margin: 0;
  }
}

@media (max-width: 968px) {
  nav {
    font-size: 16px;
  }
}
