<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Maipú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/transition-style">
    {% block css %}{% endblock css %}
</head>
<body class="file-drop-area">
    <header>
        <nav>
           <a id="logo" href="{{ url_for('home.index') }}"><img src="{{ url_for('static', filename='img/logomaipu.png') }}" width="300px" /></a>
           <h2 id="title">Generador de Decretos</h2>
            <ul>
                {% if g.user %}
                <li><a href="{{ url_for('home.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('about.about') }}">Sobre el Proyecto</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="{{ category }}" transition-style="in:wipe:down">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}        
        {% endblock %}
    </section>
    {% block js %}
    {% endblock js %}
</body>
</html>
